@charset "UTF-8";
html {
  font-size: 62.5%;
  /*16px×62.5％＝10px*/ }

img {
  width: 100%; }

.br--sp {
  display: none; }

@media screen and (max-width: 768px) {
  .br--sp {
    display: block; }
  .br--pc {
    display: none; } }
.wrapper, .wrapper--gray, .wrapper--blue {
  padding: 180px 18px;
  overflow: hidden;
  background-color: #fffdf6; }
  .wrapper--gray {
    background-color: #efefef; }
  .wrapper--blue {
    background-color: #04436d; }

@media screen and (max-width: 768px) {
  .wrapper, .wrapper--gray, .wrapper--blue {
    padding: 148px 18px; } }
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1080px; }
  .container--bace {
    position: relative; }
  .container--right {
    text-align: right; }
  .container--center {
    text-align: center; }
  .container--aligh-center {
    align-items: center; }
  .container--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .container--flex-center {
    justify-content: center; }
  .container--flex-reverse {
    flex-direction: row-reverse; }
  .container--flex-column {
    flex-direction: column; }

.text, .text__sentence, .text__sentence--white, .text--sm, .text--lg, .text--bold {
  font-family: 'Noto Sans','Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: #2f2725;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  line-height: 1.75;
  font-weight: 500;
  letter-spacing: 0.068em; }
  .text__margin-bottom {
    margin-bottom: 16px; }
  .text__sentence--white {
    color: #fbfdff; }
  .text--sm {
    font-size: 1.4rem; }
  .text--lg {
    font-size: 2.6rem;
    font-family: 'Noto Serif','Noto Serif JP', serif;
    line-height: 1.5; }
  .text--bold {
    font-weight: 600; }
  .text--white {
    color: #fbfdff; }

@media screen and (max-width: 768px) {
  .text--lg {
    font-size: 1.6rem; } }
.icon {
  width: 68px; }
  .icon--logo {
    width: 160px; }
  .icon--angle {
    font-size: 2rem; }
  .icon--angle-white {
    color: #fbfdff; }

.btn, .btn--big {
  padding: 3px 0;
  width: 181px;
  border-radius: 100px;
  background-color: #04436d;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.42);
  transition: .3s; }
  .btn__trigger-header {
    display: none; }
  .btn__trigger-header-line {
    position: absolute;
    display: block;
    width: 34px;
    height: 2px;
    border-radius: 1px;
    background-color: #fbfdff;
    transition: all 0.5s; }
    .btn__trigger-header-line:first-of-type {
      top: 0; }
    .btn__trigger-header-line:nth-child(2) {
      top: 8px; }
    .btn__trigger-header-line:nth-child(3) {
      top: 16px; }
  .btn__trigger-header-line.active {
    width: 24px;
    left: 5px; }
    .btn__trigger-header-line.active:first-of-type {
      top: 6px;
      transform: rotate(45deg); }
    .btn__trigger-header-line.active:nth-child(2) {
      display: none; }
    .btn__trigger-header-line.active:nth-child(3) {
      top: 6px;
      transform: rotate(-45deg); }
  .btn__trigger-header-txt {
    position: absolute;
    left: 0;
    bottom: 0;
    text-transform: uppercase;
    color: #fbfdff;
    font-size: 1.2rem; }
    .btn__trigger-header-txt--close {
      display: none;
      left: -3px; }
  .btn.hover:hover, .hover.btn--big:hover {
    transform: translateY(-4px);
    background-color: #fbfdff; }
  .btn.hover:hover > span, .hover.btn--big:hover > span {
    color: #04436d; }
  .btn--big {
    width: 258px;
    padding: 5px 0; }
  .btn--white {
    background-color: #fbfdff; }

@media screen and (max-width: 1079px) {
  .btn__trigger-header {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 18px;
    z-index: 50;
    -webkit-appearance: none; } }
.home__backgroung-img {
  margin-top: 56px;
  position: relative;
  width: 100%;
  height: 38.19vw;
  background-image: url(../img/eyecatch.jpg);
  background-size: cover;
  background-position: center; }
.home__eyecatch-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%); }
.home__reason-wrapper:not(:last-child) {
  margin-bottom: 160px; }
.home .home__reason-texture, .home .home__reason-texture--right, .home .home__reason-texture--left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 150px;
  overflow: hidden; }
.home__reason-texture--right {
  left: 40%; }
.home__reason-texture--left {
  right: 40%; }
.home__service-icon {
  margin-bottom: 13px; }
.home__service-icon {
  margin-right: 0; }
.home__service-list {
  flex-direction: row-reverse; }
.home__service-item {
  margin: 20px; }
.home__service-sentence {
  margin-bottom: 26px; }
.home__2section-container {
  max-width: none; }
.home__reserch-temple-container {
  z-index: 5; }
.home__2section-img {
  padding: 160px 0;
  width: 50vw;
  position: relative;
  background-image: url(../img/temple.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 130%; }
  .home__2section-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0; }
  .home__2section-img--2 {
    background-image: url(../img/cemetery.jpg); }
.home__reserch-temple-sentence {
  margin-bottom: 42px; }

@media screen and (max-width: 1079px) {
  .home__backgroung-img {
    height: 61.8vw; }
  .home__eyecatch-card {
    position: absolute;
    padding: 5.8%;
    top: 50%;
    left: auto;
    right: 2%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 500px; }
  .home__2section-img {
    background-size: cover; } }
@media screen and (max-width: 768px) {
  .home__backgroung-img {
    height: calc(100vh - 48px);
    background-position: left; }
  .home__eyecatch-card {
    top: calc((100vh - 48px) / 2);
    right: 0;
    transform: translateY(-50%);
    max-width: none; }
  .home__reason-card {
    margin-bottom: 40px; }
  .home__reason-container {
    flex-flow: column-reverse; }
  .home__reason-container-flex {
    align-items: baseline; }
  .home .home__reason-texture, .home .home__reason-texture--right, .home .home__reason-texture--left {
    width: 200%;
    top: 42px;
    transform: none;
    height: 48px;
    overflow: hidden; }
  .home__reason-texture--right {
    left: -50%; }
  .home__reason-texture--left {
    right: -50%; }
  .home__reason-container:not(:last-child) {
    margin-bottom: 120px; }
  .home__2section-img {
    padding: 148px 0;
    width: 100vw; } }
.card--lg {
  opacity: 0.83; }

.card--video, .card--sm, .card--md, .card--lg {
  box-sizing: border-box;
  background-color: #fbfdff; }

.card {
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.32); }
  .card--video {
    width: 512px;
    height: 288px; }
  .card--sm {
    width: 318px;
    padding: 32px; }
    .card--sm-center {
      text-align: center; }
  .card--md {
    width: 496px;
    padding: 42px; }
  .card--lg {
    width: 520px;
    padding: 68px; }

@media screen and (max-width: 1079px) {
  .card--video {
    width: 47%;
    height: auto; }
  .card--md {
    width: 46%; } }
@media screen and (max-width: 768px) {
  .card--video {
    width: 100%;
    height: 56.25%; }
  .card--lg {
    width: 100%;
    padding: 18px; }
  .card--md {
    width: 100%; } }
@media screen and (max-width: 400px) {
  .card--sm {
    width: 100%; } }
.nav {
  display: flex;
  justify-content: flex-end; }
  .nav--footer {
    justify-content: space-between; }
  .nav__btn {
    margin: 0 31px 0 auto;
    display: none; }
    .nav__btn--footer {
      margin-right: 0; }
  .nav__item {
    position: relative; }
    .nav__item--header.hover:hover > ul > li {
      height: 36px;
      overflow: visible; }
  .nav__sublist {
    position: absolute; }
    .nav__sublist--footer {
      position: relative; }
  .nav__subitem {
    width: 180px;
    height: 0;
    overflow: hidden;
    background-color: none;
    transition: .2s; }
    .nav__subitem--header {
      background-color: rgba(4, 67, 109, 0.7); }
      .nav__subitem--header.hover:hover {
        background-color: #fbfdff; }
    .nav__subitem--footer {
      height: 36px; }
  .nav__list {
    width: auto; }
  .nav__link {
    display: block;
    line-height: 56px;
    color: #fbfdff; }
    .nav__link--header {
      padding: 0 18px; }
    .nav__link--footer {
      color: #2f2725; }
  .nav__link-txt {
    color: #fbfdff; }
  .nav__sublink {
    margin: 0 18px;
    line-height: 36px;
    color: #fbfdff; }
    .nav__sublink.hover:hover {
      color: #04436d; }
    .nav__sublink--footer {
      line-height: 36px;
      color: #2f2725; }
      .nav__sublink--footer:hover {
        color: #04436d; }

@media screen and (max-width: 1079px) {
  .nav--header {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(4, 67, 109, 0.7); }
  .nav--footer {
    flex-direction: column; }
  .nav__btn {
    display: block; }
  .nav__item {
    display: flex;
    flex-wrap: wrap; }
  .nav__sublink {
    margin-left: 36px; }
  .nav__sublist {
    position: relative;
    width: 100%; }
  .nav__subitem {
    width: 100%; }
    .nav__subitem--footer {
      height: 0; }
    .nav__subitem--active {
      height: 36px;
      overflow: visible; } }
.header {
  top: 0;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 10;
  background-color: #04436d; }
  .header__wrapper {
    padding: 0 18px 0 18px;
    background-color: #04436d;
    max-width: 1280px;
    height: 56px;
    overflow: visible; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }

@media screen and (max-width: 768px) {
  .header {
    display: block; } }
.footer__wrapper {
  padding-bottom: 0; }
.footer__container {
  align-items: stretch; }
.footer__logo {
  display: block;
  margin: 0 auto 32px; }
.footer__copylights {
  margin-left: calc( (-100vw + 1080px) / 2 );
  margin-right: calc( (-100vw + 1080px) / 2 );
  margin-top: 160px;
  padding: 0;
  height: 28px;
  text-align: center; }
.footer__small {
  line-height: 28px;
  color: #fbfdff; }

@media screen and (max-width: 1079px) {
  .footer__copylights {
    margin-left: -18px;
    margin-right: -18px;
    margin-top: 14px; } }
@media screen and (max-width: 768px) {
  .footer__nav-subitem {
    height: 0; }
    .footer__nav-subitem--active {
      height: 36px;
      overflow: visible; } }
.title, .title__center, .title--white, .title--sub {
  font-family: 'Noto Serif','Noto Serif JP', serif;
  font-size: 4.2rem;
  font-weight: bold;
  color: #2f2725;
  letter-spacing: 0.03em;
  margin-bottom: 67px; }
  .title__top {
    font-size: 2.6rem;
    margin-bottom: 0; }
  .title__center {
    text-align: center; }
  .title--white {
    color: #fbfdff; }
  .title--sub {
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    margin-bottom: 42px; }

@media screen and (max-width: 768px) {
  .title, .title__center, .title--white, .title--sub {
    font-size: 3.2rem;
    margin-bottom: 52px; }
    .title__top {
      font-size: 2.2rem;
      margin-bottom: 0; }
    .title--sub {
      font-size: 2.2rem;
      margin-bottom: 35px; } }
.animation__fade-bace {
  opacity: 0; }
.animation__fade-in {
  animation: fadein 1s forwards ease-in-out; }

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(48px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*# sourceMappingURL=style.css.map */
