%translucent{
  opacity: 0.83;
}

%bace{
  box-sizing: border-box;
  background-color: $color__white;
}

%shadow{
  box-shadow: 0 3px 6px 2px rgba(0,0,0,0.32);
}

.card{
  &__video{
    @extend %bace;
    width: 512px;
    height: 288px;
    @extend %shadow;
  }

  // size
  %__sm{
    @extend %bace;
    width: 318px;
    padding: 32px;
    @extend %shadow;
  }

  &__sm{
    @extend %__sm;

    &--center{
      @extend %__sm;
      text-align: center;
    }
  }
  &__md{
    @extend %bace;
    width: 496px;
    padding: 42px;
    @extend %shadow;
  }
  &__lg{
    @extend %bace;
    @extend %translucent;
    width: 520px;
    padding:68px;
    @extend %shadow;
  }

  %__xl{
    @extend %bace;
    width: 540px;
    padding: 52PX;
    @extend %shadow;
  }

  &__xl{
    @extend %__xl;

    &--center{
      @extend %__xl;
      text-align: center;
    }
  }
}
