%translucent{
  opacity: 0.83;
}

%bace{
  box-sizing: border-box;
  background-color: $color__white;
}

%shadow{
  box-shadow: 0 3px 6px 2px rgba(0,0,0,0.32);
}

.card{
  &--video{
    @extend %bace;
    width: 512px;
    height: 288px;
    @extend %shadow;
  }

  // size
  %--sm{
    @extend %bace;
    width: 318px;
    padding: 32px;
    @extend %shadow;
  }

  &--sm{
    @extend %--sm;

    &--center{
      @extend %--sm;
      text-align: center;
    }
  }
  &--md{
    @extend %bace;
    width: 496px;
    padding: 42px;
    @extend %shadow;
  }
  &--lg{
    @extend %bace;
    @extend %translucent;
    width: 520px;
    padding:68px;
    @extend %shadow;
  }

  %--xl{
    @extend %bace;
    width: 540px;
    padding: 52PX;
    @extend %shadow;
  }

  &--xl{
    @extend %--xl;

    &--center{
      @extend %--xl;
      text-align: center;
    }
  }
}

@include mq(md){
  .card{
    &--lg{
      width: 100%;
      padding: 18px;
    }
  }
}
