.container{
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1080px;

  &--bace{
    position: relative;
  }

  &--right{
    text-align: right;
  }

  &--center{
    text-align: center;
  }

  &--aligh-center{
    align-items: center;
  }

  &--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--flex-center{
    justify-content: center;
  }

  &--flex-reverse{
    flex-direction: row-reverse;
  }
}

@include mq(md){
  .container{

  }
}
