.footer{
  &__wrapper{
    padding-bottom: 0;
  }
  &__container{
    align-items: stretch;
  }

  &__logo{
    display: block;
    margin: 0 auto 32px;
  }

  &__copylights{
    margin-left: calc( (-100vw + 1080px) / 2 );
    margin-right: calc( (-100vw + 1080px) / 2 );
    margin-top: 160px;
    padding: 0;
    height: 28px;
    text-align: center;
  }

  &__small{
    line-height: 28px;
    color: $color__white;
  }
}

@include mq(lg){
  .footer{
    &__copylights{
      margin-left: -18px;
      margin-right: -18px;
      margin-top: 14px;
    }
  }
}

@include mq(md){
  .footer{
    &__nav-subitem{
      height: 0;

      &--active{
      height: 36px;
      overflow: visible;
      }
    }
  }
}
