html {
	font-size:62.5%;/*16px×62.5％＝10px*/
}

img{
	width: 100%;
}

.br{
	&--sp{
		display: none;
	}
}

//color
$color__black: #2f2725;
$color_gray: #efefef;
$color__main: #04436d;
$color__main--hover: rgba(4,67,109,0.9);
$color__somen: #fffdf6;
$color__white: #fbfdff;


@include mq(md){
	.br{
		&--sp{
			display: block;
		}
	}
}
