html {
	font-size:62.5%;/*16px×62.5％＝10px*/
}

img{
	width: 100%;
}

//color
$color__white: #fbfdff;
$color__somen: #fffdf6;
$color__black: #2f2725;
$color__main: #04436d;

// text-align
.right{
	margin: 0 0 0 auto;
}
