.home{
  &__backgroung-img{
    margin-top: 56px;
    position: relative;
    width: 100%;
    height: 38.19vw;
    background-image:url(../img/eyecatch.jpg);
    background-size: cover;
    background-position: center;
  }

  &__eyecatch-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
  }

  &__reason-wrapper:not(:last-child){
    margin-bottom: 160px;
  }

  %__reason-texture{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 150px;
    overflow: hidden;
  }

  &__reason-texture{
    @extend %__reason-texture;

    &--right{
      @extend %__reason-texture;
      left: 40%;
    }

    &--left{
      @extend %__reason-texture;
      right: 40%;
    }
  }

  &__service-icon{
    margin-bottom: 13px;
  }

  &__service-icon{
    margin-right: 0;
  }

  &__service-list{
    flex-direction: row-reverse;
  }

  &__service-item{
    margin: 20px;
  }

  &__service-sentence{
    margin-bottom: 26px;
  }

  // reserch temple
  &__2section-container{
    max-width: none;
  }
  &__reserch-temple-container{
    z-index: 5;
  }
  &__2section-img{
    padding: 160px 0;
    width: 50vw;
    position:relative;
    background-image: url(../img/temple.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 130%;

    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      top: 0;
    }

    &--2{
      background-image:url(../img/cemetery.jpg);
    }
  }

  &__reserch-temple-sentence{
    margin-bottom: 42px;
  }
}

@include mq(lg){
  .home{
    &__backgroung-img{
      height: 61.8vw;
    }

    &__eyecatch-card{
      position: absolute;
      padding: 5.8%;
      top: 50%;
      left: auto;
      right: 2%;
      transform: translateY(-50%);
      width: 100%;
      max-width: 500px;
    }

    &__2section-img{
      background-size: cover;
    }
  }
}

@include mq(md){
  .home{
    &__backgroung-img{
      height: calc(100vh - 48px);
      background-position: left;
    }

    &__eyecatch-card{
      top: calc((100vh - 48px) / 2);
      right: 0;
      transform: translateY(-50%);
      max-width: none;
    }

    &__reason-card{
      margin-bottom: 40px;
    }

    &__reason-container{
      flex-flow: column-reverse;
    }

    &__reason-container-flex{
      align-items:baseline;
    }

    %__reason-texture{
      width: 200%;
      top: 42px;
      transform: none;
      height: 48px;
      overflow: hidden;
    }

    &__reason-texture{
      &--right{
        left: -50%;
      }

      &--left{
        right: -50%;
      }
    }

    &__reason-container:not(:last-child){
      margin-bottom: 120px;
    }

    &__2section-img{
      padding: 148px 0;
      width: 100vw;
    }
  }
}
