.nav{
  display: flex;
  justify-content: flex-end;

  &__item{
    position: relative;
  }


  &__sublist{
    position: absolute;
  }

  &__subitem{
    width: 180px;
    height: 0;
    overflow: hidden;
    background-color: $color__main--hover;
    transition: .2s;
  }

  &__subitem:hover{
    background-color: $color__main;
  }

  &__list{
    width: auto;
  }



  &__link{
    padding: 0 16px;
    display: block;
    line-height: 56px;
    // color: $color__white;

    &--subitem{
      line-height: 36px;
    }
  }
}

@include mq(md){
  .nav{
    &__item{
      display: flex;
      flex-wrap: wrap;
    }

    &__sublist{
      width: 100%;
    }

    &__subitem{
        width: 100%;

        &--active{
        height: 36px;
        overflow: visible;
        }
    }


    // &__btn :focus > ul > li{
    //   height: 36px;
    //   overflow: visible;
    // }


  }
}
