.nav{
  display: flex;
  justify-content: flex-end;

  %__item{
    height: 56px;
  }

  &__item{
    @extend %__item;
    position: relative;
  }

  %__sublist{

  }

  &__sublist{
    @extend %__sublist;
    position: absolute;
  }

  %__subitem{
    width: 180px;
    height: 0;
    overflow: hidden;
    background-color: $color__main--hover;
    transition: .2s;

  }

  &__subitem{
    @extend %__subitem;
  }

  &__subitem:hover{
    @extend %__subitem;
    background-color: $color__main;
  }

  &__list{
    width: auto;
  }

  &__list :hover > %__sublist > %__subitem{
    height: 36px;
    overflow: visible;
  }

  &__link{
    padding: 0 16px;
    display: block;
    line-height: 56px;
    color: $color__white;

    &--subitem{
      line-height: 36px;
    }
  }
}
