.text {
  font-family: 'Noto Sans','Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: $color__black;
  -webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  line-height: 1.5;
	letter-spacing: 0.068em;

  &__sentence{
    @extend .text;
    margin-bottom: 16px;

    &--white{
      color: $color__white;
    }
  }
}
