.title{
  font-family: 'Noto Serif','Noto Serif JP', serif;
  font-size: 4.2rem;
  font-weight: bold;
  color: $color__black;
  letter-spacing: 0.03em;
  margin-bottom: 67px;

  &__top{
    font-size: 2.6rem;
    margin-bottom: 0;
  }

  &__center{
    @extend .title;
    text-align: center;
  }

  &--white{
    @extend .title;
    color: $color__white;
  }

  &--sub{
    @extend .title;
    font-size: 2.6rem;
    letter-spacing: 0.03em;
    margin-bottom: 42px;
  }
}

@include mq(md){
  .title{
    font-size: 3.2rem;
    margin-bottom: 52px;

    &__top{
      font-size: 2.2rem;
      margin-bottom: 0;
    }

    &--sub{
      font-size: 2.2rem;
      margin-bottom: 35px;
    }
  }
}
